{% extends "base.twig" %}

{% block header %}
    <ul>
    {% for key, itemName in menuItems %}
        <li><a href="{{ key }}.html ">{{ itemName }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {{ ulMenu|raw }}

    <h1>{{ pageTitle }}</h1>
    <p>
        {{ productInfo['name'] }}
    </p>

    <p>
        {{ productInfo['desc'] }}
    </p>

    <p>
        {{ productInfo['price'] }}
    </p>
{% endblock %}
